:host {
   padding: 0 0.5rem;
   background-color: #fff;
}
.container {
   display: grid;
   grid-template-areas:
      'image title'
      'image .'
      'image tags'
      'image price';
   grid-template-rows: 3rem 1fr 1rem 2rem;
   grid-template-columns: 10rem 1fr;
   place-items: stretch;
   place-content: stretch;
   grid-gap: 5px;
}

.product-image {
   grid-area: image;
   object-fit: contain;
   width: 9rem;
   height: 9rem;
}

.product-title {
   grid-area: title;
}

.product-tags {
   grid-area: tags;
}

.product-price {
   grid-area: price;
   display: grid;
   grid-template-areas: 'price-detail price-desc price-avatar';
   grid-template-columns: 25% 50% 25%;
   gap: 3px;
   place-content: stretch;
   place-items: center;
}

.price-section {
   color: #d24749;
   margin: 0 1rem;
   grid-area: price-detail;
}

.product-tags > span {
   margin-right: 5px;
}

.price {
   display: inline;
   font-size: 1.3rem;
   padding: 0;
}

.price-desc {
   grid-area: price-desc;
   color: #3f3f3f;
   font-size: 0.8rem;
}

.price-avatar {
   grid-area: price-avatar;
   margin: 0;
}

.price-avatar > img {
    position: relative;
  }
