:host {
   display: flex;
   align-items: stretch;
   flex-direction: column;
   flex: 1;
}

.main {
   flex: 1;
   overflow-x: hidden;
   overflow-y: auto;
   scroll-behavior: smooth;
   -webkit-overflow-scrolling: touch;
   overscroll-behavior-y: contain;
   height: calc(100% - 3rem);
}
